name: Emerge
on: 
  pull_request_target:
    branches: [ master, main, emerge_parallel ]
  push:
    branches: [ master, main, emerge_parallel ]
permissions:
  actions: read
  checks: read
  contents: read
  pull-requests: read

jobs:
  upload-to-emerge:
    runs-on: macos-12
    name: Upload artifact to Emerge tools
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7.3'
      - name: Archive Sample app
        uses: maierj/fastlane-action@v2.2.0
        with:
          lane: 'archive'
      - name: Compress artifact
        shell: bash
        run: |
          cd artifacts
          zip -r artifact.zip *.xcarchive
      - name: Upload artifact to Emerge
        uses: imaginaris/emerge-upload-action@main
        with:
          artifact_path: ./artifacts/artifact.zip
          emerge_api_key: ${{ secrets.EMERGE_API_KEY }}
