name: Build and Test

on:
  pull_request_target:

permissions:
  checks: write

jobs:
  build-test:
    runs-on: macOS-14
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
    - run: |
        bundle install
        bundle exec pod install
      env:
        RIAM_CONFIG_URL: https://example.com
        RIAM_APP_SUBSCRIPTION_KEY: xxxx-xxxx-xxxx-xxxx
    - run: |
        xcodebuild \
        -workspace RInAppMessaging.xcworkspace \
        -scheme UITests \
        -resultBundlePath artifacts/ui-tests/UITests \
        -destination "platform=iOS Simulator,name=iPhone 11" \
        test | xcpretty
        xcodebuild \
        -workspace RInAppMessaging.xcworkspace \
        -scheme RInAppMessaging-Example \
        -resultBundlePath artifacts/unit-tests/RInAppMessaging-Example \
        -destination "platform=iOS Simulator,name=iPhone 11" \
        test | xcpretty
    - uses: kishikawakatsumi/xcresulttool@v1
      with:
        path: |
          artifacts/unit-tests/RInAppMessaging-Example.xcresult
          artifacts/ui-tests/UITests.xcresult
        upload-bundles: false
      if: success() || failure()
      # ^ This is important because the action will be run
      # even if the test fails in the previous step.